.about {
    color: white;
    background-color: rgb(57, 8, 8);
    font-family: 'Lucida Sans';
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans';
    background-color: rgb(57, 8, 8);
}

.navi{
    text-align: center;
    color: white;
}

.overview {
    color: white;
    background-color: rgb(57, 8, 8);
    font-family: 'Lucida Sans';
}

body {
    background-color: black;
}


a {
    color: white;
}

.button {
    text-align: center;
    size: 15cm;
}
